.accordion-header {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 0 10px 5px 10px;
  cursor: pointer;
  font-size: 15px;
}

.accordion-content {
  overflow: hidden;
}

fa-icon {
  display: inline-block;
}
