#sidebar-nav {
  position: fixed;
  height: 100%;
  width: 80px;
  min-width: 80px;
  max-width: 250px;
  padding: 10px;
  background: #0e1011;
  border-right: 1px solid #222829;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

#sidebar-header {
  display: flex;
  height:80px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  align-items: center;
  color: #dfe6e9;
  font-weight: bold;
  font-size: 30px;
  border-bottom: 2px solid #222829;
}

#top-img {
  width:60px !important;
  height:60px !important;
  min-width:60px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#sidebar-header > #company-title {
  opacity: 0;
  text-align: center;
}

.nav-item {
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border: 1px #6c5ce7;
  overflow-x: hidden;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}


.nav-item.active {
  color: #ffffff;
  background-color: oklch(28.3% 0.141 291.089 );
  overflow-x: hidden;
  margin: 10px;
  padding: 5px;
}

.nav-item span {
  position: fixed;
  margin-top: 3px;
  opacity: 0;
  font-weight: bold;
}

.nav-item fa-icon {
  padding-right: 15px;
  margin-left: 2px;
  font-size: 20px;
}
