main {
  margin-left: 80px;
}

#page-title {
  display: flex;
  width: 100%;
  height: 80px;
  font-size: 30px;
  text-indent: 20px;
  align-items: center;
}

#page-content {
  margin: 20px 35px 0 35px;
}
