#projects-sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
  height: calc(100% - 20px);
  background-color: #191c1e;
  border-radius: 20px;
  margin-right: 40px;
  color: #a1a1a1;
}

#search-text {
  height: 30px;
  background: transparent;
  border: none;
}

p-accordion-header {
  padding: 15px;
  margin: 0 2px 2px 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder !important;
  background: transparent !important;
  color: #a1a1a1 !important;
}

p-input-group {
  align-items: center;
  font-size: 20px;
  width: 88%;
  margin: 15px;
}

.project-item {
  max-width: 230px;
  padding: 5px;
  margin: 0 10px 5px 10px;
  border-radius: 8px;
}

.project-item.active {
  background-color: oklch(28.3% 0.141 291.089);
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  border-radius: 8px;
}

.project-item > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-name {
  font-size: 14px;
  flex: 1 1 auto;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-item .project-badge {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  padding: 0;
  font-size: 0.75rem;
  background: #209557;
  color: rgba(255, 255, 255, 0.75);
}

.project-item.active .project-badge {
  color: #ffffff;
}

.project-badge .project-badge-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.options {
  margin-left: auto;
  margin-right: 0;
}

.options > button {
  margin-right: 5px;
  margin-left: auto;
  border-radius: 5px;
  color: #a6a6a6;
}

.options > button:hover {
  cursor: pointer;
  color: #575757;
}

app-kanban-board {
  width: 100%;
}
