#projects-completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold
}

#check-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: green;
  font-size: 30px;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 10px auto 0 auto;
  background: #0e1011 no-repeat center center;
}

#title {
  line-height: normal;
  padding: 5px;
  font-size: 15px;
  color: #818181;
}

#stats-icon {
  color: #3d8538;
  margin-right: 5px;
}

#count {
  color: #dfe6e9;
  line-height: 1;
  font-size: 40px;
  margin-top: 5px;
  padding: 5px;
}
